/* import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Libre+Franklin:wght@600&family=Montserrat&family=Roboto&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
    font-weight: 250;
    background-color: white;
}

a {
    text-decoration: none;
}

/* Headings & Logo */
h1,
h2 {
    font-family: 'montserrat', sans-serif;
    text-transform: uppercase;
    color: #000033;
}

#site-header {
    font-size: 110%;
}

#logo {
    text-shadow: 2px 2px 5px #808080;
    margin-left: 8px;
    font-family: "boogaloo", Arial;
    letter-spacing: 1.5px;
    font-size: 2rem;
    color: white;
}

/* menus nav stylying */

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}

#menu li {
    margin-right: 8px;
    font-weight: bold;
    font-family: "boogaloo", Arial;
    font-size: 1.5rem;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#logo a {
    text-decoration: none;
}

#menu a:hover {
    color: white;
}

.active {
    border-bottom: 3px solid black;
}

#site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    text-align: center;
    background-color: rgb(254, 193, 0);
    color: black;

}

#menu li {
    display: inline-flex;
    margin: 0 10px;
    list-style-type: none;
}

/* Hero Image */

.hero {
    height: 500px;
    background-image: url(../images/hero-books.jpg);
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.7;
    z-index: -1; */
}

/* .hero{

    background-image: linear-gradient rgba (0, 0, 0, 0, .5);
    
} */
#text-hero {
    color: white;
    text-align: center;
    min-width: 50vw;
    z-index: 0;
}

.heading-hero {
    font-family: "Libre Franklin", Arial;
    font-size: 3rem;
    text-transform: capitalize;
    text-shadow: 2px 2px rgb(39, 48, 73);

}

.heading-hero-line {
    font-family: "Libre Franklin", Arial;
    font-size: 10rem;
    text-shadow: 4px 4px rgb(39, 48, 73);

}

.hero-button {
    font-size: 1.5rem;
    background-color: rgb(254, 193, 0);
    padding: 3px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: .3rem 2.5rem;
    border: groove;
    cursor: pointer;
    color: white;
}

.hero-button:active {
    transform: translate(4px);
    box-shadow: 0 5px rgb(182, 182, 182);
}

.hero-button:hover {
    background-color: rgb(182, 182, 182);
}

/* About Us Section Homepage */

.text-about {
    text-align: center;
    padding: 15px;
    font-family: "roboto";
    line-height: 2rem;
    background-color: rgb(254, 193, 0);
    border-style: ridge;
    font-size: 1.2rem;
    border-width: 5px;
}

/* Quizz Categories Section */

.section-heading {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 2rem;
    font-family: "boogaloo", Arial;
    letter-spacing: 2px;
    background-color: rgb(187, 185, 181);
}

.quizz-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(187, 185, 181);

}

#square {
    height: 215px;
    width: 215px;
    border-radius: 50%;
    margin-bottom: 40px;
    margin-left: 5px;
    margin right: 5px;
    background: rgb(39, 48, 73);
    border-style: solid;
    border-color: white;
    font-size: 1.2rem;
    border-width: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#square:hover {
    background-color: rgb(254, 193, 0);
}

.quizz-icon {
    color: white;
    font-size: 3rem;
    letter-spacing: 2px;
}



/* Footer */

#footer {
    background-color: rgb(254, 193, 0);
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    padding-bottom: 10px;
}

.footer-text {
    text-align: center;
    color: black;
    padding-top: 5px;
}

.fa-facebook-square {
    color: black;
}

.fa-instagram-square {
    color: black;
}

.fa-youtube {
    color: black;
}

.fa-facebook-square:hover,
.fa-instagram-square:hover,
.fa-youtube:hover {
    background-color: white;
}

/* Quizzes Page*/
/* Triva */
.quizz-triva-hero {
    height: 150px;
    background-image: url(../images/map-of-world-1.png);
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: ridge;
    border-color: rgb(187, 185, 181);
    border-width: 5px;


}

.quizz-sport-hero {
    height: 150px;
    background-image: url(../images/sports-new-re1.png);
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: ridge;
    border-color: rgb(187, 185, 181);
    border-width: 5px;

}

.quizz-film-hero {
    height: 150px;
    background-image: url(../images/film.jpg);
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: ridge;
    border-color: black;
    border-color: rgb(187, 185, 181);
    border-width: 5px;
}

.quizz-music-hero {
    height: 150px;
    background-image: url(../images/music.png);
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: ridge;
    border-color: rgb(187, 185, 181);
    border-width: 2px;
}

.quizz-hero-text {
    background-color: rgb(39, 48, 73);
    font-size: 2.5rem;
    color: white;
    padding: 15px;
    border-style: ridge;
    border-color: white;
    border-width: 5px;
    border-radius: 20px;
    letter-spacing: 2px;
}


.quizz-hero-text:hover {
    background-color: rgb(254, 193, 0);
}

/* contact us form*/

.form-section {
    /* clear: left; */
    position: relative;
    /* background: url(../images/keys-contact-back.jpg);
    background-size: cover;
    background-position: center; */
    height: 100vh;
}

.contact-header {
    color: white;
}

.contact-us {
    margin: 100px 10% 0 0;
    color: white;
    background-color: rgb(39, 48, 73);
    border-radius: 20px;
    border: groove;
    border-width: 5px;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form>h2 {
    color: #CCCCCC;
    margin-bottom: 20px;

}

.text-input {
    background: transparent;
    color: white;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 5px;
}

.text-input:hover {
    border-color: rgb(254, 193, 0)
}

.join-button {
    margin-top: 20px;
    border-radius: 8px;
    border: groove;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: whitesmoke;
    color: black;
    display: block;
    cursor: pointer;
}

.join-button:hover {
    background-color: rgb(254, 193, 0);
    color: black;
}

.video-contact {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .8;
}

/* Quizz Triva Page*/

.wrapper {

    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 48, 73);
}

#quiz-container {

    width: 450px;
    background: whitesmoke;
    border: white;
    border-style: ridge;
    border-width: 7px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#mc {
    display: inline;
}

input {
    margin-bottom: 10px;
    font-size: 15px;
}

#button {
    background-color: rgb(254, 193, 0);
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    border-style: groove;
    border-width: 3px;
    margin-top: 15px;
    transform: translate(4px);
    cursor: pointer;
    margin-bottom: 20px;
}

#button {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#button:hover {background-color: white}





.quizz-heading {

    font-weight: bold;


}

.questions {

    font-family: "montserrat";
    font-weight: bold;
    line-height: 2rem;
}









/* Media Query Section */

/* 
@media (max-width: 900px) {
    .quizz-wrapper {
        flex: 2
        
    }
} */

@media (max-width: 800px) {


    /* Using flexbox column for responsiveness */

    #site-header {

        flex-direction: column;
        padding: 5px 0 5px;
    }

    #text-hero {
        font-size: 50%;
    }

    .heading-hero-line {
        font-size: 6rem;
    }

    .heading-hero {
        font-size: 2rem;
    }

    /* #quiz-container{
        float: left;
        margin-left: 5%;
    } */



}

/* @media (max-width: 600px) {

    /* homepage */
/* .card-wrapper {
        column-count: 2;
        display: block;
    }
} */

@media (max-width: 400px) {

    .heading-hero-line {
        font-size: 3rem;
        text-shadow: none;
    }

    .heading-hero {
        font-size: 2rem;
        text-shadow: none;
    }

    .hero-button {
        font-size: 1rem;
    }

    /* #quiz-container{
        float: left;
        margin-left: 0%;
        padding: 5px;
    } */


}