/* import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Libre+Franklin:wght@600&family=Montserrat&family=Roboto&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
    font-weight: 250;
    background-color: white;
}

a {
    text-decoration: none;
}

/* Headings & Logo */
h1,
h2 {
    font-family: 'montserrat', sans-serif;
    text-transform: uppercase;
    color: #000033;
}

#site-header {
    font-size: 110%;
}

#logo {
    text-shadow: 2px 2px 5px #808080;
    margin-left: 8px;
    font-family: "boogaloo", Arial;
    letter-spacing: 1.5px;
    font-size: 2rem;
    color: white;
}

/* menus nav stylying */

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}

#menu li {
    margin-right: 8px;
    font-weight: bold;
    font-family: "boogaloo", Arial;
    font-size: 1.5rem;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#logo a {
    text-decoration: none;
}

#menu a:hover {
    color: black;
}

.active {
    border-bottom: 1px double white;
}

#site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    text-align: center;
    background-color: rgb(254, 193, 0);
    color: white;
}

#menu li {
    display: inline-flex;
    margin: 0 10px;
    list-style-type: none;
}

/* Hero Image */

.hero {
    height: 500px;
    background-image: url(../images/hero-books.jpg);
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#text-hero {
    color: white;
    text-align: center;

    /* background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    line-height: 35px; */
    /* border-style: groove; */
    /* border-radius: 10px;
    font-size: 1rem; */
    min-width: 50vw;
}

.heading-hero {
    font-family: "Libre Franklin", Arial;
    font-size: 3rem;
    text-transform: capitalize;
    text-shadow: 2px 2px rgb(254, 193, 0);

}

.heading-hero-line {
    font-family: "Libre Franklin", Arial;
    font-size: 10rem;
    text-shadow: 4px 4px rgb(254, 193, 0);

}

.hero-button {
    font-size: 1.5rem;
    background-color: rgb(254, 193, 0);
    padding: 3px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: .3rem 2.5rem;
    border: groove;
    cursor: pointer;
    color: white;
}
/* About Us Section Homepage */

.text-about{
    text-align: center;
    padding: 15px 15px;
    font-family: "roboto";
    line-height: 2rem;
    background-color:  rgb(254, 193, 0);
    border-style: ridge;
}





@media (max-width: 800px) {


    /* Using flexbox column for responsiveness */

    #site-header {

        flex-direction: column;
        padding: 5px 0 5px;
    }

    #text-hero {
        font-size: 50%;
    }

}